extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Heroes &amp; Their Deeds!
    p.lead Find Heroes both big and small here!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE